@import 'tailwindcss';
@import "tw-animate-css";
@import '@fontsource-variable/inter';

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --font-sans: 'Inter Variable', system-ui, sans-serif;
  --color-border: var(--color-neutral-800);
  --color-foreground: var(--color-neutral-200);
  --color-muted-foreground: var(--color-neutral-200);
  --color-background: var(--color-neutral-950);
  --color-hover: var(--color-neutral-950);
  --color-ring: var(--color-neutral-500);
  --color-primary: var(--color-sky-600);
  --color-primary-hover: var(--color-sky-700);
  --color-on-primary: var(--color-sky-50);
  --color-outline: color-mix(in oklab, var(--color-blue-500) 50%, transparent);

  --color-button: var(--color-neutral-900);
  --color-hover: var(--color-neutral-800);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
